@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

@{

    @Model List<SIGERSIV.Models.Reporte> reportes = new List<SIGERSIV.Models.Reporte>();

}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/dash.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">SIGERSIV</a>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><img width="20" height="20" src="~/images/search.png" /></button>
    </div>
</div>

<ul class="list-group">
    @{
        @Model foreach (SIGERSIV.Models.Reporte reporte in reportes)
        {
            <li class="list-group-item">
                <img src="~/images/carrousel1.jpg" width="90" height="90" />
                <label class="col-md-3">@reporte.Lugar</label>
                <label class="col-md-3">@reporte.Cliente</label>
                <label class="col-md-2">Estatus</label>
                <button class="btn btn-outline-primary col-md-2" onclick="mostrarDetalles()">Ver detalles</button>
            </li>
        }
    }
</ul>

<div class="modal fade" tabindex="-1" role="dialog" id="dialogoDetalles">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>El usuario fue agregado de manera correcta. A continuación podrá continuar con el proceso...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function mostrarDetalles() {
        $("#dialogoDetalles").modal("show");
    }
</script>
